<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>List of Jobs | WorkIt</title>
  </head>
  <script src="https://cdn.tailwindcss.com"></script>
  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
    integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
    crossorigin="anonymous"
    referrerpolicy="no-referrer"
  />
  <body class="bg-[#F1F8F9] min-h-screen">
    <div class="relative bg-white rounded-xl my-5 mt-16 pt-16 p-10 w-[1100px] mx-auto">
    <div class="inset-y-10 left-10 text-3xl font-bold mb-6">Job Listings</div>
      <div class = "inset-y-10 right-10">
        <a 
        href="{% url "jobsapp:postJob" %}"
        class="bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 border border-blue-700 rounded"
        >
        <i class="fa-solid fa-plus"></i>
          Post New Job</a>
      </div>

      <table class="table-fixed mx-auto w-full mt-10">
        <thead>
          <tr>
            <th class="w-2/5 px-4 py-2">Job Title</th>
            <th class="w-1/5 px-4 py-2">No. of Applicants</th>
            <th class="w-1/10 px-4 py-2">Status</th>
            <th class="w-1/5 px-4 py-2">Date Posted</th>
            <th class="w-1/10 px-4 py-2">Actions</th>
          </tr>
        </thead>
        <tbody>
          {% for job in job_list %}
          <tr>
            <td class="border px-4 py-2">{{job.job_title}}</td>
            <td class="border px-4 py-2 text-center">8 Applicants</td>  {% comment %} to be replaced with real values {% endcomment %}
            <td class="border px-4 py-2 text-center">{{job.status|title}}</td>
            <td class="border px-4 py-2 text-center">{{job.date_posted|date:"M j, Y"}}</td>
            <td class="border px-4 py-2 text-center">
              <div class="justify-items-auto">
                <a href="{% url 'jobsapp:editJob' job.id %}">
                    <i class="fa-regular fa-pen-to-square mr-2"></i>
                </a>
                <form action="{% url "jobsapp:deleteJob" job.id %}" method="post" class="inline">
                    {% csrf_token %}
                    <button>
                        <i class="fa-regular fa-trash-can ml-2"></i>
                    </button>
                </form>
              </div>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </body>
</html>
