<!DOCTYPE html>
{% load humanize %} {% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Job Details</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
      integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
  </head>

  <body>
    <div class="bg-[#F1F8F9] min-h-screen">
      {% include 'navbar.html' %}
      <!-- banner -->
      <div
        class="h-32 flex items-center"
        style="
          background: linear-gradient(
            92deg,
            #a7c957 1.07%,
            rgba(155, 217, 150, 0.9) 96.16%
          );
          box-shadow: 1px 1px 20px 0px rgba(0, 0, 0, 0.1) inset;
        "
      >
        <div
          class="flex items-center justify-center gap-5 w-full px-5 md:px-20 lg:px-40 xl:px-64 leading-5"
        >
        <div class="w-20 h-20 rounded-full">
          <img src="{% if  company.logo %} {{ company.logo.url}} {% else %}{% static '/assets/default_logo.png' %}{% endif %}" alt="" class="w-full h-full object-cover  rounded-full" />
        </div>
          <div class="flex-1">
            <div class="text-2xl font-semibold" id="jobTitle"></div>
            <a href="{% url 'companyapp:companyProfile' company.id %}" class="text-gray-800" id="companyName"></a>
          </div>
          {% if not user_has_applied %}
          <!-- prettier-ignore -->
          <button
            id="applyButton"
            {% if not hasInfo %} disabled {% endif %}
            class="hidden text-sm py-2.5 px-6 mt-3 mb-4 rounded-md font-semibold bg-[#386641] text-white disabled:cursor-not-allowed  transition-all"
           
          >
            Apply
          </button>
          {% endif %}
        </div>
      </div>

      <!-- content -->
      <div
        class="w-full flex flex-col-reverse md:flex-row gap-5 py-10 leading-5 px-5 md:px-20 lg:px-40 xl:px-64"
      >
        <div class="flex-1">
          <!-- items -->
          <div class="">
            {% if not hasInfo %}
            <div class="text-xs text-red-500 mt-1 mb-3">
              <i class="fa-solid fa-circle-exclamation mr-1"></i>Set up
              <a href="/profile/" class="underline">your profile</a> to apply
              for a job
            </div>
            {% endif %}
            <h1 class="font-semibold text-lg">Job Details</h1>
            
            <div class="mt-2" id="jobDetails"></div>
    
            <h1 class="font-semibold text-lg mt-10" id="companyAbout">About</h1>
            <div class="mt-2"  id="companyDetails"></div>
          </div>
        </div>

        <!-- job details -->
        <div class="w-full md:w-64">
          <div class="bg-white rounded-xl border px-8 py-7">
            <div class="font-semibold text-xl">Overview</div>
            <div
              class="flex flex-wrap justify-between mt-3 md:flex-col gap-5 px-0 sm:px-20 md:px-0"
            >
              <div class="text-sm">
                <div class="font-semibold">Date Posted</div>
                <div id="datePosted">s</div>
              </div>
              <div class="text-sm">
                <div class="font-semibold">Estimated Salary</div>
                <div id="estimatedSalary">s</div>
              </div>

              <div class="text-sm">
                <div class="font-semibold">Job Type</div>
                <div id="jobType">s</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
  <script type="text/javascript" src="{% static '/js/main.js' %}"></script>
  <script type="text/javascript" src="{% static '/js/index.js' %}"></script>
  <script defer>
    document.addEventListener("DOMContentLoaded", function () {
      getJobDetails();
    });
  </script>
</html>
