{% extends "management/user_detail.html" %}
{% load static %}
{% block anotherMetaData %}
    <!-- User Defined CSS-->
    <link rel="stylesheet" href="{% static 'management/styles.css' %}">
{% endblock anotherMetaData %}
{% block user_section %}
    <link rel="stylesheet" href="{% static 'css/table.css' %}" />
    <h1 class="text-lg font-bold">Recent Applications</h1>
    <section class="mt-10">
        <!-- Table Buttons-->
        <div class="flex flex-row gap-3 justify-between mb-3">
            <div class="relative w-80">
                <i class="fa-solid fa-search absolute left-4 top-3 text-gray-500"></i>
                <input type="search"
                       placeholder="Search"
                       class="w-full rounded pl-12 border-none focus:border-none focus:outline-none focus:ring-primary focus:border-primary resize-none"
                       id="usersSearchField">
            </div>
            <button id="pdfBtn"
                    class="py-2 px-5 bg-[#BC4749] text-white font-medium rounded">Generate Report</button>
        </div>
        <table class="daisy-table daisy-table-zebra " id="history-table">
            <thead class="bg-primary">
                <tr>
                    <th>Job Title</th>
                    <th>Company</th>
                    <th>Status</th>
                    <th>Date</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for application in application_list %}
                    <tr>
                        <td>{{ application.job_title }}</td>
                        <td>{{ application.company_name }}</td>
                        <td>
                            {% if application.status == "approved" %}
                                <div class="daisy-badge gap-2 daisy-badge-success bg-[#BCF09D]">
                                    <div class="w-2 h-2 rounded-full bg-[#386641]"></div>
                                    <p class="font-semibold text-[#386641]">Approved</p>
                                </div>
                            {% elif application.status == "rejected" %}
                                <div class="daisy-badge gap-2 daisy-badge-success bg-[#FF8F92]">
                                    <div class="w-2 h-2 rounded-full bg-[#BC4749]"></div>
                                    <p class="font-semibold text-[#BC4749]">Rejected</p>
                                </div>
                            </div>
                        {% elif application.status == "pending" %}
                            <div class="daisy-badge gap-2 daisy-badge-success bg-[#B8DEF9]">
                                <div class="w-2 h-2 rounded-full bg-[#236EA3]"></div>
                                <p class="font-semibold text-[#236EA3]">Pending</p>
                            </div>
                        </div>
                    {% endif %}
                </td>
                <td>{{ application.date_posted }}</td>
                <td>
                    <button class="historyDeleteBtn" data-job=" {{ application.job_title }} " data-company=" {{ application.company_name }} " data-id=" {{ application.id }} ">
                        <i class="fa-solid fa-square-xmark"></i>
                    </button>
                </td>
            </tr>
        {% endfor %}
        </tbody>
        </table>
    </section>
<script src="{% static 'management/manage-users/history.js' %}"></script>
{% endblock user_section %}
