{% extends "management/base_management.html" %}
{% load static %}
{% block title %}
    Dashboard
{% endblock title %}
{% block section %}
    <div class="bg-[#F1F8F9] min-h-screen w-full flex flex-col">
        <div class="grow flex flex-row">
            <div class="grow overflow-auto p-10">
                <h1 class="text-2xl font-bold text-secondary">Dashboard</h1>
                <hr class="mt-5" />
                <!--stat container-->
                <div class="stats-container flex gap-4 flex-wrap lg:flex-nowrap mt-10">
                    <div class="daisy-stat bg-white rounded p-6 lg:max-w-xs">
                        <div class="daisy-stat-title flex justify-between ">
                            Active Job Posts
                            <svg xmlns="http://www.w3.org/2000/svg"
                                 width="24"
                                 height="24"
                                 viewBox="0 0 24 24"
                                 fill="none">
                                <path d="M20 7H4C2.89543 7 2 7.89543 2 9V19C2 20.1046 2.89543 21 4 21H20C21.1046 21 22 20.1046 22 19V9C22 7.89543 21.1046 7 20 7Z" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                                <path d="M16 21V5C16 4.46957 15.7893 3.96086 15.4142 3.58579C15.0391 3.21071 14.5304 3 14 3H10C9.46957 3 8.96086 3.21071 8.58579 3.58579C8.21071 3.96086 8 4.46957 8 5V21" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                            </svg>
                        </div>
                        <div class="daisy-stat-value text-primary">{{ total_active_job_posts }}</div>
                    </div>
                    {% comment %} employers {% endcomment %}
                    <div class="daisy-stat bg-white rounded p-6 lg:max-w-xs">
                        <div class="daisy-stat-title flex justify-between">
                            Employers
                            <svg xmlns="http://www.w3.org/2000/svg"
                                 width="18"
                                 height="26"
                                 viewBox="0 0 18 26"
                                 fill="none">
                                <path d="M6.3335 9.01384L6.34683 8.99902" stroke="#565656" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                                <path d="M11.6665 9.01384L11.6798 8.99902" stroke="#565656" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                                <path d="M6.3335 14.3468L6.34683 14.332" stroke="#565656" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                                <path d="M11.6665 14.3468L11.6798 14.332" stroke="#565656" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                                <path d="M6.3335 19.6808L6.34683 19.666" stroke="#565656" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                                <path d="M11.6665 19.6808L11.6798 19.666" stroke="#565656" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                                <path d="M1 24.2V4.46667C1 4.02484 1.35817 3.66667 1.8 3.66667H9V1.8C9 1.35817 9.35813 1 9.8 1H16.2C16.6419 1 17 1.35817 17 1.8V24.2C17 24.6419 16.6419 25 16.2 25H1.8C1.35817 25 1 24.6419 1 24.2Z" stroke="#565656" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                            </svg>
                        </div>
                        <div class="daisy-stat-value text-primary">{{ total_employers }}</div>
                    </div>
                    {% comment %} job seekers {% endcomment %}
                    <div class="daisy-stat bg-white rounded p-6 lg:max-w-xs">
                        <div class="daisy-stat-title flex justify-between">
                            Users / Job Seekers
                            <svg xmlns="http://www.w3.org/2000/svg"
                                 width="24"
                                 height="24"
                                 viewBox="0 0 24 24"
                                 fill="none">
                                <path d="M17 21V19C17 17.9391 16.5786 16.9217 15.8284 16.1716C15.0783 15.4214 14.0609 15 13 15H5C3.93913 15 2.92172 15.4214 2.17157 16.1716C1.42143 16.9217 1 17.9391 1 19V21" stroke="#386641" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                                <path d="M9 11C11.2091 11 13 9.20914 13 7C13 4.79086 11.2091 3 9 3C6.79086 3 5 4.79086 5 7C5 9.20914 6.79086 11 9 11Z" stroke="#386641" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                                <path d="M23 20.9999V18.9999C22.9993 18.1136 22.7044 17.2527 22.1614 16.5522C21.6184 15.8517 20.8581 15.3515 20 15.1299" stroke="#386641" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                                <path d="M16 3.12988C16.8604 3.35018 17.623 3.85058 18.1676 4.55219C18.7122 5.2538 19.0078 6.11671 19.0078 7.00488C19.0078 7.89305 18.7122 8.75596 18.1676 9.45757C17.623 10.1592 16.8604 10.6596 16 10.8799" stroke="#386641" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                            </svg>
                        </div>
                        <div class="daisy-stat-value text-primary">{{ total_job_seekers }}</div>
                    </div>
                </div>
                <div class="grid grid-rows-2 lg:grid-cols-2 gap-4  ">
                    <!--chart container-->
                    <div class="chart-container mt-5 bg-white text-gray-700 p-4 rounded-md shadow-lg">
                        <div class="chart-title flex flex-col gap-4">
                            <h2 class="text-xl font-bold text-secondary">Job Posts</h2>
                            <div class="chart-title-actions">
                                <select name="jobPosts" id="jobPostsSelect" class="form-select rounded ">
                                    <option selected value="day">Day</option>
                                    <option value="month">Month</option>
                                    <option value="year">Year</option>
                                </select>
                            </div>
                        </div>
                        <div class="chart w-full relative ">
                            <canvas id="jobPostingChart"></canvas>
                        </div>
                        <p id="jobPostingLabel"
                           class="py-4 chart-label text-secondary font-bold text-center"></p>
                    </div>
                    <!--chart container-->
                    <div class="chart-container mt-5 bg-white text-gray-700 p-4  rounded-md shadow-lg">
                        <div class="chart-title flex flex-col gap-4">
                            <h2 class="text-xl font-bold text-secondary">Job Applications</h2>
                            <div class="chart-title-actions flex gap-4">
                                <select name="jobApplications"
                                        id="jobApplicationsSelect"
                                        class="form-select rounded">
                                    <option selected value="day">Day</option>
                                    <option value="month">Month</option>
                                    <option value="year">Year</option>
                                </select>
                            </div>
                        </div>
                        <div class="chart  w-full relative ">
                            <canvas id="jobApplicationsChart"></canvas>
                        </div>
                        <p id="jobApplicationsLabel"
                           class="py-4 chart-label text-secondary font-bold text-center"></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% comment %} Chart JS Dependency {% endcomment %}
    <script src="https://cdn.jsdelivr.net/npm/chart.js@4.4.1/dist/chart.umd.min.js"></script>
    <script src="{% static 'management/dashboard/dashboard.js' %}"></script>
{% endblock section %}
