{% load static %}
{% load company_tags %}
<div class="grow flex flex-row">
  {% comment %} SIDEBAR {% endcomment %}

  {% comment %} get instance of the function GetCurrentCompanyInfo in company tags {% endcomment %}
  {% GetCurrentCompanyInfo request.user as company_data %}
  <div class="w-[300px] bg-white shadow">
    {% comment %} COMPANY INFO {% endcomment %}
      <div class="w-max mx-auto my-5 flex flex-row items-center gap-2 ">
        <div class="w-12 h-12 p-1 rounded-full border-2">
          
          {% if company_data.company_img %}
            <img src="{{company_data.company_img.url}}" class="w-full h-full object-cover rounded-full object-center" alt="logo" />
          {% else %}
            <img src="{% static '/assets/default_logo.png' %}" class="w-full h-full object-cover rounded-full object-center" alt="logo" />
          {% endif %}
        </div>
        <div class="grow">
          <h4 class="font-semibold">{{company_data.company_name}}</h4>
          <p class="text-sm text-gray-500">{{company_data.company_email}}</p>
        </div>
      </div>
      {% comment %} END COMPANY INFO {% endcomment %}
      <hr>
      {% comment %} NAVIGATION {% endcomment %}
      <ul class="mt-5 flex flex-col gap-1 font-semibold">
        <li class="pl-10 py-2  duration-100 {% if request.path == '/company/myCompany/jobListings' %} border-l-2 border-secondary text-secondary {% else %} text-gray-500 hover:text-black transition-all {% endif %}">
          <i class="fa-solid fa-briefcase mr-3"></i>
          <a href="{% url 'companyapp:companyJobList' %}">Job Listings</a>
        </li>
        <li class="pl-10 py-2  duration-100 {% if request.path == '/company/myCompany/applicants' %} border-l-2 border-secondary text-secondary {% else %} text-gray-500 hover:text-black transition-all {% endif %}">
          <i class="fa-solid fa-user-tie mr-3"></i>
          <a href="{% url "companyapp:companyApplicants" %}">Applicants</a>
        </li>
        <li class="pl-10 py-2  duration-100 {% if request.path == '/company/myCompany/' %} border-l-2 border-secondary text-secondary {% else %} text-gray-500 hover:text-black transition-all {% endif %}">
          <i class="fa-solid fa-gear mr-3"></i>
          <a href="{% url "companyapp:companyProfileSettings" %}">Company Settings</a>
        </li>
      </ul>
</div>