{% extends "management/manage-jobs/job_sidebar.html" %} {% block job_section %}

<form
  method="post"
  action="{% url 'managementapp:action_job' job_id=job.id %}"
  class="flex flex-col gap-2 w-full pl-3 py-32 text-sm min-w-[300px]"
  id="job_action_form"
>
  {% csrf_token %}

  <div class="text-lg font-bold text-[#C5221F] mt-5">
    {% if job.status == 'active' %} Delete {% else %} Activate {% endif %} Jop Post
  </div>

  <div>
    {% if job.status == 'active' %}  This action will <span class="font-semibold text-[#C5221F]"> prevent potential applicants from applying to this job post. </span>
   {% else %}
   This action will <span class="font-semibold text-[#C5221F]"> enable potential applicants to apply to this job post. </span>
   {% endif %}
  </div>

  <button
    type="button"
    class="w-44 bg-transparent border-[#C5221F] text-[#C5221F] px-3 py-2 font-medium  rounded mt-3"
    style="border: 2px solid"
   onClick="onActionJobHandler(' {% if job.status == 'active' %} Delete {% else %} Activate {% endif %}', '{{ company.company_name|safe }}');"

  
  >
    {% if job.status == 'active' %} Delete {% else %} Activate {% endif %} Jop Post
  </button>
</form>


{% endblock job_section %}
