{% extends "management/base_management.html" %}
{% load static %}
{% block title %}
    Manage Jobs
{% endblock title %}
{% block section %}
<script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>


<link href="https://nightly.datatables.net/css/jquery.dataTables.css" rel="stylesheet" type="text/css" />
<script src="https://nightly.datatables.net/js/jquery.dataTables.js"></script>
<script src="https://cdn.datatables.net/buttons/1.2.2/js/buttons.html5.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.32/pdfmake.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.32/vfs_fonts.js"></script>

<link href="https://cdn.datatables.net/buttons/1.5.1/css/buttons.dataTables.css" rel="stylesheet" type="text/css" />
<script src="https://cdn.datatables.net/buttons/1.5.1/js/dataTables.buttons.js"></script>
<script src="https://cdn.datatables.net/buttons/1.5.1/js/buttons.colVis.min.js"></script>
<script type="text/javascript" language="javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>

<script src="https://cdn.datatables.net/buttons/1.5.1/js/buttons.colVis.min.js"></script>
<script src="https://cdn.datatables.net/buttons/1.5.2/js/buttons.print.min.js"></script>


<link rel="stylesheet" href="{% static 'css/table.css' %}">
<div class="min-h-screen overflow-y-auto mx-10">
    <h1 class="py-24 text-2xl font-bold text-secondary">Manage Job Listings</h1>
 
    <div>
        <div class="py-3 flex justify-end items-center gap-3">
            <div class="relative w-80">
                <i class="fa-solid fa-magnifying-glass absolute left-4 top-3 text-gray-400" ></i>
                <input type="search"
                       placeholder="Search"
                       class="w-full rounded-md pl-12 border-none" id="jobsSearchField" 
                       />
                       
            </div>
            <button onClick="jobsReport()" class="py-2 px-5 bg-secondary text-white rounded-lg">Generate Report</button>
        </div>
     
        <table   id="jobsTable" class="row-border">
            <thead>
                <tr >
                 
                    <th >Job Title</th>
                    <th >Company Name</th>
                    <th >Location</th>
                    <th>Date Posted</th>
                    <th >Status</th>
                    <th >Action</th>
                </tr>
            </thead>
            <tbody>
                {% for job in jobs %}
                    <tr data-job-id="{{ job.id }}">
                        
                        <td>
                            <div>
                                <p>{{ job.job_title }}</p>
                      
                            </div>
                        </td>
                        <td>{{ job.company.company_name }}</td>
                        <td>{{ job.city }}, {{ job.country }}</td>
                        <td>{{ job.date_posted|date:"M d, Y" }}<br>
                            {{ job.date_posted|time:"g:i a" }}</td>
                        
                        <td>
                            <div class="daisy-badge gap-2   {% if job.status == 'active' %} daisy-badge-success bg-[#BCF09D]{% else %} daisy-badge-error bg-[#FF8F92] {% endif %}">
                            <div class="w-2 h-2 rounded-full {% if job.status == 'active' %} bg-[#386641] {% else %} bg-[#BC4749] {% endif %}"></div>
                               <p class=" font-semibold  {% if job.status == 'active' %} text-[#386641] {% else %} text-[#BC4749]{% endif %}"> {% if job.status == 'active' %} Activate {% else %} Inactive {% endif %}</p>
                            </div>
                        </td>
                        <td>
                            <div class="flex flex-wrap gap-4 text-md">
                                <i class="fa-regular fa-pen-to-square   text-gray-400 cursor-pointer hover:text-secondary" onclick="onEditJobHandler({{ job.id }})"></i>
                                <i class="fa-solid fa-trash-can  text-gray-400 cursor-pointer hover:text-red-500" onclick="onDeleteJobHandler({{ job.id }}, '{{job.job_title}}')"></i>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
            
        </table>
    </div>
</div>


  {% endblock section %}
