{% extends "base.html" %}
{% load static %}

{% block title %}{{company.company_name}}{% endblock title %}

{% block content %}
<script src="{% static 'js/main.js' %}"></script>
<div class="bg-[#F1F8F9] min-h-screen w-full">
    {% include "navbar.html" %}
    <div class="container mx-auto">
      <header class="mb-10 flex flex-col gap-2">
        <div class="w-full h-[300px] rounded-b-lg overflow-hidden">
    
          <img src="{% if  company.cover_photo %} {{ company.cover_photo.url}} {% else %}{% static '/assets/default_cover_photo.png' %}{% endif %}" alt="cover" class="w-full h-full object-cover object-center" />
        </div>
        <div class="flex flex-col items-center justify-between relative sm:flex-row sm:px-10">
          <div class="w-[150px] h-[150px] absolute -top-28 rounded-full bg-white shadow-md overflow-hidden sm:-top-20">
            
            <img src="{% if  company.logo %} {{ company.logo.url}} {% else %}{% static '/assets/default_logo.png' %}{% endif %}" class="w-full h-full object-cover object-center" alt="logo" />
          </div>
         
          <div class="flex flex-col items-center mt-[50px] text-center sm:items-start sm:ml-[170px] sm:mt-0 sm:text-left">
   
            <h1 class="text-3xl font-bold">{{company.company_name}}</h1>
   
            <p class="text-gray-500 flex items-center gap-1 sm:ml-1"><i class="fa-solid fa-location-dot text-sm"></i> {{company.country}}, {{company.city}} City</p>
          
          
          </div>
         {% if company.user_id == user.id%}
          <a href="{%  url 'companyapp:companyProfileSettings' %}"class="py-3 px-5 text-secondary border border-secondary rounded hover:bg-secondary hover:text-white transition-all duration-100">Edit Company Profile</a>
          {% endif %}
       
        </div>
        {% if company.is_active == 0 %}
            <div class="text-xs text-red-500 pt-5 pl-10">
              <i class="fa-solid fa-circle-exclamation mr-1" id="setUpError"></i> Your company has been disabled. If you think this is a mistake, please contact the administrator.
            </div>
            {% endif %}
      </header>
      {% comment %} -- JOB INFORMATION -- {% endcomment %}
      <section class="p-5 mx-5 flex flex-col gap-2 bg-white shadow rounded-lg sm:mx-10 sm:p-10">
        <h3 class="font-bold text-xl text-secondary">Company Description</h3>
     
        <p class="text-gray-500">{{company.description}}</p>
      </section>
      {% comment %} -- END JOB INFORMATION -- {% endcomment %}
      <hr class="my-10 mx-5 sm:mx-10">
      <h3 class="mx-5 mb-5 text-2xl font-bold sm:mx-10">Job Lists</h3>
      {% if jobs %}
      <div class="grid grid-cols-1 gap-5 mx-5 pb-10 sm:mx-10 sm:grid-cols-2">
        {% for job in jobs %}
        <div class="min-h-[200px] p-5 flex flex-col justify-between bg-white rounded-lg shadow md:p-10 hover:shadow-lg hover:-translate-y-1 transition-all duration-100 {% if company.is_active == 1 %} cursor-pointer  {% endif %}"
        onclick=" {% if company.is_active == 1 %} window.location.href=`{% url 'jobsapp:jobDetails' job.id %}  {% endif %}`"
        >
          <div>
            <h4 class="mb-2 text-lg font-semibold">{{job.job_title}}</h4>
            <p class="line-clamp-3">
              {{job.description|striptags}}
            </p>
          </div>
          <p class="text-gray-500">
          {% comment %} temporary solution {% endcomment %}Posted 
            <script>
            document.write(formatDate('{{ job.date_posted |date:"Y-m-d\TH:i:s\Z" }}')) 
        </script>
        </div>
    
        {% endfor %} 
      </div>
      
    </div>
    {% else %}
        <p class="text-center py-[100px]">No jobs posted yet.</p>
        {% endif %}
</div>

    
{% endblock content %}

{% block extra_js %}
{% endblock %}