{% extends "base.html" %}
{% load static %}

{% comment %} TODO: Insert company name here {% endcomment %}
{% block title %}Tech Innovations Co.{% endblock title %}

{% block content %}
{% include "navbar.html" %}
<div class="bg-[#F1F8F9] min-h-screen w-full flex flex-col">
  <div class="grow flex flex-row">
    {% comment %} SIDEBAR {% endcomment %}
    <div class="w-[300px] bg-white shadow">
      {% comment %} COMPANY INFO {% endcomment %}
      <div class="w-max mx-auto my-5 flex flex-row items-center gap-2 ">
        <div class="w-12 h-12 p-1 rounded-full border-2">
          {% comment %} TODO: Insert company logo {% endcomment %}
          <img src="https://img.logoipsum.com/296.svg" class="w-full h-full object-contain object-center" alt="logo" />
        </div>
        <div class="grow">
          <h4 class="font-semibold">Tech Innovations Co.</h4>
          <p class="text-sm text-gray-500">owner@techinnovate.com</p>
        </div>
      </div>
      {% comment %} END COMPANY INFO {% endcomment %}
      <hr>
      {% comment %} NAVIGATION {% endcomment %}
      <ul class="mt-5 flex flex-col gap-1 font-semibold">
        <li class="pl-10 py-2 text-gray-500 hover:text-black transition-all duration-100"><i class="fa-solid fa-briefcase mr-3"></i><a href="{% url 'companyapp:companyJobList' %}">Job Listings</a></li>
        <li class="pl-10 py-2 text-gray-500 hover:text-black transition-all duration-100"><i class="fa-solid fa-user-tie mr-3"></i><a href="{% url "companyapp:companyApplicants" %}">Applicants</a></li>
        <li class="pl-10 py-2 border-l-2 border-secondary text-secondary"><i class="fa-solid fa-gear mr-3"></i><a href="{% url "companyapp:companyProfileSettings" %}">Company Settings</a></li>
      </ul>
    </div>
    {% comment %} CONTENT {% endcomment %}
    <div class="grow overflow-auto p-10">

      <h1 class="text-2xl font-bold">Company Information</h1>
      <hr class="my-5">
      {% comment %} EDIT COMPANY LOGO {% endcomment %}
      <div>
        <div>
          <label class="block mb-2 text-sm font-medium text-gray-900" for="file_input">Company Logo</label>
          <div class="w-20 h-20 mb-2 bg-white p-2 rounded-md overflow-hidden">
            {% if data.logo %} 
              <img src="{{ data.logo }}" class="w-full h-full object-contain object-center" alt="logo" />
            {% else %}
              <img src="{% static '/assets/default_logo.png' %}" class="w-full h-full object-contain object-center" alt="logo" />
            {% endif %}
            
          </div>

          <form method="post" action="{% url 'companyapp:UploadCompanyLogo' %}" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="mb-2">
              {{company_logo_form}}
              <p class="mt-1 text-sm text-gray-500 dark:text-gray-300" id="file_input_help">SVG, PNG, JPG or GIF (MAX. 500x500px).</p>
            </div>
            <button type="submit" class="px-3 py-2 font-medium text-sm rounded border border-gray-500 text-gray-500">Upload Logo</button>
          </form>
          
        </div>
      </div>
      {% comment %} EDIT COMPANY COVER PHOTO {% endcomment %}
      <div class="mt-10">
        <div>
          <label class="block mb-2 text-sm font-medium text-gray-900" for="file_input_cover">Cover Photo</label>
          <div class="w-[350px] h-24 mb-2 bg-white border rounded-md overflow-hidden">
            {% if data.cover_photo %}
            <img src="{{data.cover_photo}}" alt="cover" class="w-full h-full object-cover object-center" />
            {% else %}
              <img src="{% static '/assets/default_cover_photo.png' %}" alt="cover" class="w-full h-full object-cover object-center" />
            {% endif %}
            
          </div>

          <form method="post" action="{% url 'companyapp:UploadCompanyCover' %}" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="mb-2">
              {{company_cover_form}}
              <p class="mt-1 text-sm text-gray-500 dark:text-gray-300" id="file_input_help">SVG, PNG, JPG or GIF (MAX. 500x500px).</p>
            </div>
            <button class="px-3 py-2 text-sm font-medium rounded border border-gray-500 text-gray-500">Upload Photo</button>
          </form>
          
        </div>
      </div>
      {% comment %} EDIT COMPANY INFO {% endcomment %}
      <form method="post" action="{% url 'companyapp:UploadCompanyData' %}" class="my-10 flex flex-col gap-2">
        {% csrf_token %}
        <div class="form-group flex flex-col gap-1">
          <label for="{{company_data_form.company_name.id_for_label}}" class="text-sm font-medium text-gray-900">Company Name</label>
          {{company_data_form.company_name}}
        </div>
        <div class="form-group flex flex-col gap-1">
          <label for="{{company_data_form.description.id_for_label}}" class="text-sm font-medium text-gray-900">Company Description</label>
          {{company_data_form.description}}
        </div>
        <div class="form-group grid grid-cols-1 gap-2 sm:grid-cols-2">
          <div class="form-group flex flex-col gap-1">
            <label for="{{company_data_form.country.id_for_label}}">Country</label>
            {{company_data_form.country}}
            <span id="company-value">{{company_data_form.country.value}}</span>
          </div>
          <div class="flex  flex-col gap-1">
            <label for="{{company_data_form.city.id_for_label}}" class="text-sm font-medium text-gray-900">City</label>
            {{company_data_form.city}}
          </div>
        </div>
        <button type="submit" class="w-max mt-5 px-4 py-3 bg-secondary text-white rounded font-semibold">Edit Company Information</button>
      </form>
    </div>
    
  </div>
</div>
<script type="text/javascript" src="{% static 'js/countrySelect.js' %}"></script>
{% endblock content %}
