{% extends "base.html" %} 
{% load static %}
{% block title %}Create Company{% endblock title %} 
{%block content %}
<div class="bg-[#F1F8F9] min-h-screen text-base">
  <div class="h-[80px] w-full bg-white shadow-sm">
    <div class="max-w-[1120px] h-full flex items-center mx-auto">
      <a href="{% url 'jobsapp:index' %}" class="font-black text-3xl">
        <span class="text-secondary">Work</span><span>It!</span>
      </a>
    </div>
  </div>
  <div class="mt-[40px] flex flex-col items-center gap-5">
    <div class="p-[30px] px-[50px] max-w-[1120px] bg-primary rounded-md shadow">
      <h1 class="font-bold text-xl">Set-up Company Profile</h1>
      <p>
        Make your company stand out in the competitive job market. Craft a compelling Company Profile to connect with top talent and build a team that shares your vision.
      </p>
    </div>
    <form method="post" action="{% url 'companyapp:createCompany' %}" class="p-[50px] max-w-[1120px] w-full flex flex-col gap-5 bg-white rounded-md shadow">
      {% csrf_token %}
      <div>
        <i class="fa-solid fa-building text-2xl text-secondary"></i>        
        <h3 class="text-xl font-bold text-secondary">Company Details</h3>
      </div>
      <div class="form-group flex flex-col gap-1">
        <label for="{{company.company_name.id_for_label}}" class="font-semibold">Company Name</label>
        {{ company.company_name }}
      </div>
      <div class="form-group flex flex-col gap-1">
        <div>
          <label for="{{company.description.id_for_label}}" class="font-semibold">Company Description</label>
          <p>Provide a brief overview of your company, its history, and mission.</p>
        </div>
        {{company.description}}
      </div>
      <div class="form-group grid grid-cols-1 gap-2 sm:grid-cols-2">
          <div class="form-group flex flex-col gap-1">
            <label for="{{company.country.id_for_label}}" class="text-sm font-medium text-gray-900">Country</label>
            {{company.country}}
          </div>
          <div class="flex flex-col gap-1">
            <label for="{{company.city.id_for_label}}" class="text-sm font-medium text-gray-900">City</label>
            {{company.city}}
          </div>
        </div>
      <div class="action">
        <button type="submit" class="px-5 py-2 text-white bg-secondary rounded">Submit</button>
      </div>
    </form>
  </div>
</div>

{% endblock %}
