{% comment %} Homepage Working draft {% endcomment %} {% comment %} TODO might
edit this later {% endcomment %} {% comment %} <!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Homepage</title>
  </head>
  <body class="min-h-screen"></body>
</html>
{% endcomment %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Homepage</title>
  </head>
  <script src="https://cdn.tailwindcss.com"></script>
  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
    integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
    crossorigin="anonymous"
    referrerpolicy="no-referrer"
  />
  <body class="bg-[#F1F8F9] min-h-screen">
    {% include 'navbar.html' %}
    <!-- banner -->
    <div
      class="relative flex justify-center items-center h-40"
      style="background: linear-gradient(132deg, #f4d03f 0%, #16a085 100%)"
    >
      {% if not user.is_authenticated %}
      <div class="text-2xl font-bold text-white -mt-10">
        Your Gateway To Career Opportunities!
      </div>
      {% endif %}
      <div
        class="{% if user.is_authenticated %} bg-white flex flex-col sm:flex-row p-6 mx-10 rounded-lg gap-3 my-4 items-end {% else %} absolute top-1/2 bg-white flex flex-col sm:flex-row p-6 mx-10 rounded-lg gap-3 my-4 items-end shadow-md {% endif %}"
      >
        <div class="w-full md:w-1/2">
          <label htmlfor="what" class="text-sm font-semibold">What</label>
          <div class="relative">
            <input
              type="text"
              id="what"
              class="w-full px-2 py-1 rounded-md border border-gray-300 focus:outline-none focus:border-[#386641]"
              placeholder="Skills, Job Title, Keywords"
            />
            <div
              class="absolute inset-y-0 right-0 pr-3 flex items-center text-gray-400"
            >
              <div><i class="fa-solid fa-location-dot"></i></div>
            </div>
          </div>
        </div>
        <div class="w-full md:w-1/2">
          <label htmlfor="what" class="text-sm font-semibold">Where</label>
          <div class="relative">
            <input
              type="text"
              id="where"
              placeholder="City, Country"
              class="w-full px-2 py-1 rounded-md border border-gray-300 focus:outline-none focus:border-[#386641]"
            />
            <div
              class="absolute inset-y-0 right-0 pr-3 flex items-center text-gray-400"
            >
              <i class="fa-solid fa-magnifying-glass"></i>
            </div>
          </div>
        </div>
        <div class="w-full md:w-40">
          <select
            name="category"
            id="category"
            class="w-full px-2 py-1 rounded-md border border-gray-300 focus:outline-none focus:border-[#386641]"
          >
            <option value="all">All</option>
            <option value="part_time">Part Time</option>
            <option value="full_time">Full Time</option>
          </select>
        </div>
        <div class="w-full md:w-52">
          <button class="w-full bg-[#386641] text-white rounded-md py-1">
            Look for Jobs
          </button>
        </div>
      </div>
    </div>

    {% if user.is_authenticated %}
    <!-- content -->
    <div class="flex gap-3 p-5 md:px-20 lg:px-40 my-4">
      <div class="w-full md:w-1/2 flex flex-col gap-3">
        <!-- items -->
        <div
          class="rounded-xl p-5 border-2 bg-white border-[#386641] leading-5 shadow-md"
        >
          <div class="text-lg font-semibold">Lead Software Engineer</div>
          <div class="text-gray-800">Tech Innovations Co.</div>
          <div class="text-gray-800 text-sm">Makati City, Metro Manila</div>
          <div class="mt-2 mb-2">
            <span class="text-[#6A994E] font-semibold"
              >PHP 60,000 - PHP 80,000
            </span>
            per month
          </div>
          <div
            class="inline text-xs bg-gray-300 py-1 px-2 rounded-md font-semibold"
          >
            Full Time
          </div>

          <div class="text-gray-700 py-5">
            Tech Innovations Co. is seeking a highly skilled Software Engineer
            to join our dynamic team. As a Software Engineer, you will be
            responsible for designing, developing, and maintaining high-quality
            software ...
          </div>
          <div class="text-sm text-gray-700">Posted 2d ago.</div>
        </div>
        <div
          class="rounded-xl p-5 border-2 bg-white border-[#386641] leading-5 shadow-md"
        >
          <div class="text-lg font-semibold">Lead Software Engineer</div>
          <div class="text-gray-800">Tech Innovations Co.</div>
          <div class="text-gray-800 text-sm">Makati City, Metro Manila</div>
          <div class="mt-2 mb-2">
            <span class="text-[#6A994E] font-semibold"
              >PHP 60,000 - PHP 80,000
            </span>
            per month
          </div>
          <div
            class="inline text-xs bg-gray-300 py-1 px-2 rounded-md font-semibold"
          >
            Full Time
          </div>

          <div class="text-gray-700 py-5">
            Tech Innovations Co. is seeking a highly skilled Software Engineer
            to join our dynamic team. As a Software Engineer, you will be
            responsible for designing, developing, and maintaining high-quality
            software ...
          </div>
          <div class="text-sm text-gray-700">Posted 2d ago.</div>
        </div>
        <div
          class="rounded-xl p-5 border-2 bg-white border-[#386641] leading-5 shadow-md"
        >
          <div class="text-lg font-semibold">Lead Software Engineer</div>
          <div class="text-gray-800">Tech Innovations Co.</div>
          <div class="text-gray-800 text-sm">Makati City, Metro Manila</div>
          <div class="mt-2 mb-2">
            <span class="text-[#6A994E] font-semibold"
              >PHP 60,000 - PHP 80,000
            </span>
            per month
          </div>
          <div
            class="inline text-xs bg-gray-300 py-1 px-2 rounded-md font-semibold"
          >
            Full Time
          </div>

          <div class="text-gray-700 py-5">
            Tech Innovations Co. is seeking a highly skilled Software Engineer
            to join our dynamic team. As a Software Engineer, you will be
            responsible for designing, developing, and maintaining high-quality
            software ...
          </div>
          <div class="text-sm text-gray-700">Posted 2d ago.</div>
        </div>
      </div>

      <div class="hidden md:block h-screen w-[1px] bg-gray-300"></div>
      <!--job details -->
      <div class="hidden md:block w-1/2">
        <div class="bg-white rounded-xl border border-gray-500 p-5 leading-5">
          <div class="text-2xl font-semibold">Lead Software Engineer</div>
          <div class="text-gray-800">Tech Innovations Co.</div>
          <div class="text-gray-800 text-sm">Makati City, Metro Manila</div>
          <div class="mt-2 mb-2">
            <div
              class="inline text-xs bg-gray-200 py-1 px-2 rounded-md font-semibold"
            >
              Full Time
            </div>
          </div>
          <div>
            <span class="text-[#6A994E] font-semibold">
              PHP 60,000 - PHP 80,000
            </span>
            per month
          </div>
          <button
            class="inline text-sm py-2 px-4 mt-3 mb-4 rounded-md font-semibold bg-[#BC4749] text-white"
          >
            Apply Now
          </button>

          <div class="text-sm text-gray-700">Posted 2d ago.</div>
          <hr class="my-5 bg-gray-300" />
          <h1 class="font-semibold">Job Details</h1>
          <div class="mt-2">
            Tech Innovations Co. is seeking a highly skilled Software Engineer
            to join our dynamic team. As a Software Engineer, you will be
            responsible for designing, developing, and maintaining high-quality
            software ...
          </div>
        </div>
      </div>
    </div>
    {% else %}
    <div class="bg-white rounded-xl my-5 mt-16 p-10 w-[850px] mx-auto">
      <p>
        Sign in to your account and take the next step in your career journey.
        Whether you're a talented professional or an employer seeking top-tier
        candidates, we're here to make your experience seamless. Let's build
        your future together!
      </p>

      <div class="mt-10">
        <a
          href="{% url 'accountapp:login' %}"
          class="text-[#386641] font-bold underline"
          >Sign In</a
        >
      </div>
    </div>
    {% endif %}
  </body>
</html>
