{% extends "management/manage-companies/company_sidebar.html" %} {% block company_section %}

<form
method="post"
action="{% url 'managementapp:action_company' company_id=company.id %}"
  class="flex flex-col gap-2 w-full pl-3 py-32 text-[14px]"
  id="company_action_form"
>
  {% csrf_token %}

  <div class="text-lg font-bold text-[#C5221F] ">
    {% if company.is_active == 1 %} Deactivate {% else %} Activate {% endif %} Company
  </div>


  <div>
    {% if company.is_active == 1 %} This action will make the company <span class="font-semibold text-[#C5221F]"> temporarily disabled and will prevent the company for posting jobs.</span>{% else %}
    This action will make the company <span class="font-semibold text-[#C5221F]"> active and will allow the company to post jobs.</span>{% endif %}
  </div>

  <button
    type="button"
    class="w-44 bg-transparent border-[#C5221F] text-[#C5221F] p-2 font-semibold rounded-md mt-3"
    style="border: 2px solid"
    method="post"
   
    onClick="onActionCompanyHandler('{{ company.is_active|yesno:"Deactivate,Activate" }}', '{{ company.company_name }}');"
  >
    {% if company.is_active == 1 %} Deactivate {% else %} Activate {% endif %} Company
  </button>
</form>

{% endblock company_section %}
