{% extends "management/manage-companies/company_sidebar.html" %} {% block company_section %}
{% load static %} 
<form
method="post"
action="{% url 'managementapp:action_company' company_id=company.id %}"
  class="flex flex-col gap-2 w-full pl-3 py-32 text-sm min-w-[300px]"
  id="company_action_form"
>
  {% csrf_token %}

  <div class="text-lg font-bold   {% if company.is_active == 1 %} text-accent {% else %} text-secondary {% endif %}">
    {% if company.is_active == 1 %} Deactivate {% else %} Activate {% endif %} Company
  </div>


  <div>
    {% if company.is_active == 1 %} This action will make the company <span class="font-semibold text-accent"> temporarily disabled and will prevent the company for posting jobs.</span>{% else %}
    This action will make the company <span class="font-semibold text-secondary"> active and will allow the company to post jobs.</span>{% endif %}
  </div>

  <button
    type="button"
    class="w-44 bg-transparent border  px-3 py-2.5 font-medium font rounded-md mt-3  hover:text-white transition-all {% if company.is_active == 1 %} border-accent 
    text-accent hover:bg-accent {% else %}   border-secondary text-secondary hover:bg-secondary{% endif %}"
    style="border: 1px solid"
    method="post"
   
    onClick="onActionCompanyHandler('{{ company.is_active|yesno:"Deactivate,Activate" }}', '{{ company.company_name }}');"
  >
    {% if company.is_active == 1 %} Deactivate {% else %} Activate {% endif %} Company
  </button>
</form>
<script src="{% static 'management/manage-companies/manage.js' %}"></script>
{% endblock company_section %}
