input[type="password"]::-ms-reveal,
input[type="password"]::-webkit-contacts-auto-fill-button,
input[type="password"]::-webkit-credentials-auto-fill-button {
    display: none !important;
}

.alert {
    border: 1px solid;
    padding: 1rem;
    border-radius: 0.375rem;
    margin-bottom: 1.25rem;
}
.alert-error {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
}

.alert-success {
    color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb;
}

.alert-warning {
    color: #856404;
    background-color: #fff3cd;
    border-color: #ffeeba;
}

.alert-info {
    color: #0c5460;
    background-color: #d1ecf1;
    border-color: #bee5eb;
}


/* Hide scrollbar for Firefox */
.no-scrollbar {
    scrollbar-width: thin;
    scrollbar-color: transparent transparent;
  }
  
  /* Hide scrollbar for Webkit/Blink */
  .no-scrollbar::-webkit-scrollbar {
    width: 12px;
  }
  
  .no-scrollbar::-webkit-scrollbar-thumb {
    background-color: transparent;
  }
