<!DOCTYPE html>
{% load static %}
<html lang="en">
  
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static '/css/profile.css' %}" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
    integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4="
    crossorigin="anonymous"></script>
  
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10.16.3/dist/sweetalert2.all.min.js"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@10.16.3/dist/sweetalert2.min.css">
  <script src="https://cdn.tailwindcss.com"></script>
  <script src="{% static '/js/profile.js' %}"></script>

  <title>Profile</title>
</head>

<body class="relative">
  {% if user.is_authenticated %}

  {% if user_data %}
  
  {% include 'navbar.html' %}
  
  {% comment %} -- PAGECONTENT -- {% endcomment %}
  <div class="min-h-[calc(100vh-56px)]  max-w-[928px] mx-auto flex flex-col md:flex-row gap-5 pt-10">
    <aside class="flex flex-col">
      <section class="flex flex-col items-center">
          {% if user.profile_img %}
            <img class="h-36 w-36 rounded-full object-cover"
            src="{{ user.profile_img.url }}"
            alt="profile picture">
          {% else %}
            <!-- default image -->
            <img class="h-36 w-36 rounded-full object-cover"
            src="{% static '/assets/default_profile.png' %}"
            alt="profile picture">
          {% endif %}
          <p class="text-xl text-center capitalize font-semibold mt-3">{{ user_data.first_name }} {{ user_data.last_name }}</p>
          <p class="">{{user_data.email}}</p>
      </section>
      <hr class="my-5">
      <section class="text-start flex flex-row justify-center gap-2 md:flex-col md:items-start">
        <button class="active-tab text-start pl-3 py-2 hover:bg-gray-100" id="profile-tab-btn"
            onclick="openTab('profile-tab-btn')">Profile</button>
        <button id="setting-tab-btn" class="text-start pl-3 py-2 hover:bg-gray-100" onclick="openTab('setting-tab-btn')">Account Settings</button>
      </section>
      <hr class="my-5">                   
        <section>
          <a href="{% url 'profileapp:resume' %}" target="_blank" rel="noopener">
            <button onclick="" type="button" {% if not hasInfo %} hidden {% endif %} class="bg-[#386641] rounded-sm text-white px-4 py-2 font-bold hover:bg-[#6a994e] disabled:cursor-not-allowed" >
              View Resume
            </button>
          </a>
            <button onclick="viewResume('{{missingList}}')" type="button" {% if hasInfo %} hidden {% endif %} class="bg-[#386641] rounded-sm text-white px-4 py-2 font-bold hover:bg-[#6a994e] disabled:cursor-not-allowed" >
              View Resume
            </button>
        </section>
    </aside>
    <main class="grow flex flex-col max-h-[calc(100vh-56px)]">
      <div class="profile-tab flex flex-col border border-green-800 rounded">
        {% comment %} -- Profile Summary -- {% endcomment %}
        <section class="min-h-[100px] p-5">
          <h3 class="text-xl font-bold text-green-800">Profile Summary</h3>
          <p class="mt-2">{{user_data.profile_summary}}</p>
        </section>
        <hr class="my-5">
        {% comment %} -- EDUCATION -- {% endcomment %}
        <section class="min-h-[100px] p-5">
          <h3 class="text-xl font-bold text-green-800 mb-3">Education</h3>
          {% if education_data %}
            <!-- display all the education of the current user -->
          <div class="flex flex-col gap-2">
            {% for education in education_data%}
            <div class="p-5 flex justify-between items-start education_wrapper bg-gray-50 rounded">
              <div>
                <p class="text-lg font-medium">{{education.course}}</p>
                <p>{{education.school_name}}</p>
                <p class="text-sm text-gray-500">{{education.started_year}} - {{education.ended_year}}</p>
              </div>
              <div>
                <button class="text-sm px-2 py-1 text-gray-500 hover:bg-gray-200 rounded" onclick="updateEducationModal('{{education.id}}')"><i class="fa-solid fa-pen-to-square"></i></button>
                <button class="text-sm px-2 py-1 text-gray-500 hover:bg-gray-200 rounded" onclick="deleteEducation('{{education.id}}',this)"><i class="fa-solid fa-trash"></i></button>
              </div>
            </div>
            {% endfor %}
          </div>
          {% else %}
            <p class="font-semibold text-gray-500 my-2">No education added</p>
          {% endif %}
            <button
              class="py-2 px-3 mt-5 text-sm text-green-800 font-medium border border-green-800 rounded hover:text-white hover:bg-green-800 transition-all duration-100"
              onclick="toggleModal('open-education-modal')">Add
              Education
            </button>
        </section>
        <hr class="my-5">
        {% comment %} -- WORK HISTORY -- {% endcomment %}
        <section class="min-h-[100px] p-5">
          <h3 class="text-xl font-bold text-green-800 mb-3">Work Experience</h3>
          <!-- display all the work experience of the current user -->
          {% if work_experiences %}
            {% for experience in work_experiences %}
            <div class="p-5 flex justify-between items-start work_wrapper bg-gray-50 rounded">
              <div class="py-2">
                <p class="text-lg font-medium">{{experience.work_title}}</p>
                <p>{{experience.company_name}}</p>
                <p class="text-sm text-gray-500">{{experience.start_date}} - {{experience.end_date}}</p>
                <p class="mt-2 ml-2">{{experience.job_summary}}</p>
              </div>

              <button class="text-sm px-2 py-1 text-gray-500 hover:bg-gray-200 rounded" onclick="deleteWork('{{experience.id}}', this)"><i class="fa-solid fa-trash"></i></button>
            </div>
          {% endfor %}
          {% else %} 
            <p class="font-semibold text-gray-500 my-2">No work experience added</p>
          {% endif %}
            <button
              class="py-2 px-3 mt-5 text-sm text-green-800 font-medium border border-green-800 rounded hover:text-white hover:bg-green-800 transition-all duration-100"
              onclick="toggleModal('open-workexp-modal')">Add
              Work Experience
            </button>
        </section>
        <hr class="my-5">
        {% comment %} -- SKILLS -- {% endcomment %}
        <section class="min-h-[100px] p-5">
            <h3 class="text-xl font-bold text-green-800 mb-3">Skills</h3>
            {% if user_data.skills %}
              <ul class="flex flex-row gap-1 flex-wrap">
              {% for skill in user_data.skills %}
                <li class="flex justify-between px-3 py-1 bg-gray-200 rounded">
                  <p class="font-medium">{{skill|title}}</p>
                  <a href="{% url 'profileapp:deleteSkill' skill=skill %}" class="ml-3">
                    <span class="fa fa-close text-gray-300 cursor-pointer hover:text-red-400"></span>
                  </a>
                </li>
              {% endfor %}
              </ul>
            {% else %}
              <p class="font-semibold text-gray-500 my-2">No skills added</p>
            {% endif %}
            <button
             class="py-2 px-3 mt-5 text-sm text-green-800 font-medium border border-green-800 rounded hover:text-white hover:bg-green-800 transition-all duration-100"
              onclick="toggleModal('open-skill-modal')">
              Add Skill
            </button>
        </section>
      </div>
      <div class="setting-tab hidden">
        <div class=" gap-2 text-lg p-5 border border-green-800 rounded">
            <form method="POST" action="{% url 'profileapp:index' %}" class="flex flex-col gap-3" enctype="multipart/form-data">
              {% csrf_token %}
              <!-- user image -->
              <div>
                <h3 class="font-bold text-xl text-green-800 mb-3">Account Settings</h3>
                {% if user.profile_img %}
                    <img id="img_settings" class="h-20 w-20 rounded-full object-cover mb-5"
                        src="{{ user.profile_img.url }}"
                        alt="">
                {% else %}
                    <!-- default image -->
                    <img id="img_settings" class="h-20 w-20 rounded-full object-cover mb-5"
                        src="{% static '/assets/default_profile.png' %}"
                        alt="">
                {% endif %}
                {{ form.profile_img }}
              </div>
                           

              <div class="flex gap-4">
                <div class="w-1/2">
                  <label for="{{form.first_name.id_for_label}}" class="font-medium text-sm">First name:</label>
                  {{ form.first_name }}
                </div>
                <div class="w-1/2">
                  <label for="{{form.last_name.id_for_label}}" class="font-medium text-sm">Last name:</label>
                  {{ form.last_name }}
                </div>
              </div>

              <label for="{{form.profile_summary.id_for_label}}" class="font-medium text-sm">Profile summary</label>
              {{form.profile_summary}}

              <label for="{{form.email_address.id_for_label}}" class="font-medium text-sm">Email address:</label>
              {{ form.email }}

              <label for="form.contact_number.id_for_label" class="font-medium text-sm">Contact No.</label>
              <div class="flex gap-2 items-center">
                <span>+63</span>
                {{form.contact_number}}
              </div>
              
              <div class="flex justify-end gap-3">
                <button
                  class="text-sm font-medium bg-green-800 text-white py-2 px-3 transition duration-200 hover:bg-[#6a994e] rounded"
                  type="submit">Save changes</button>
                <button class="text-[#386641] text-sm hover:text-[#6a994e] transition delay-duration-200">Cancel</button>
              </div>
            </form>
            <hr class="my-5">
            <div>
              <div class="flex flex-col mb-2 py-2">
                <label for="" class="py-2">Password</label>
                {% comment %} <span class="fa fa-edit hover:text-gray-500 cursor-pointer" onclick="togglePassModal()"></span> {% endcomment %}
                <button class="w-max px-3 py-2 text-sm font-medium text-green-800 border border-green-800 rounded hover:bg-green-800 hover:text-white transition-all duration-200" onclick="togglePassModal()">Change Password</button>  
              </div>
              <hr class="my-5">
              <label for="" class="text-red-500 text-lg font-bold">Deactivate Account</label>
              <form id="deact-form" class="mb-10" method="POST" action="{% url 'profileapp:deactAccount' %}">
                {% csrf_token %}
                <p>This action will make your account <span class="text-red-500 font-semibold">temporarily disabled.</span></p>
                <button type="button" class="px-3 py-2 text-sm font-medium rounded-md border border-red-500 mt-5 text-red-500 hover:bg-red-500 hover:text-white" onclick="toggleDeactivateModal()">Deactivate Account</button>
                <button type="submit" class="hidden"></button>
              </form>
            </div>

          </div>
      </div>
    </main>
  </div>




  <!-- modals -->
  <!-- add work experience modal -->
  <div class="fixed flex items-center justify-center work-history-modal top-0 left-0 w-full h-full z-50 bg-black
    bg-opacity-25 hidden">

    <div class="w-full h-full rounded-md bg-white p-5 sm:max-w-[600px] sm:h-max">
      <h2 class="font-bold text-[#386641] text-lg pb-5">Add Work History</h2>
      <form method="POST" class="flex flex-col gap-2" action="{% url 'profileapp:addWorkExp' %}">
        {% csrf_token %}
        <!-- job title -->
        <div class="flex flex-col gap-1">
          <label class="font-medium" for="{{work_form.id_for_label}}">Job Title</label>
          {{work_form.work_title}}
        </div>

        <!-- company name -->
        <div class="flex flex-col gap-1">
          <label class="font-medium" for="{{work_form.id_for_label}}">Company Name</label>
          {{work_form.company_name}}
        </div>

        <!-- job summary -->
        <div class="flex flex-col gap-1">
          <label class="font-medium" for="{{work_form.id_for_label}}">Job Summary</label>
          {{work_form.job_summary}}
        </div>

        <!-- started -->
        <div class="flex flex-col gap-1">
          <label class="font-medium" for="{{work_form.started_month.id_for_label}}">Started</label>
          <div class="flex gap-2">
            {{work_form.started_month}}
            {{work_form.started_year}}
          </div>

        </div>

        <!-- end -->
        <div class="flex flex-col gap-1">
          <div class="flex items-center justify-between gap-2">
            <label class="font-medium" for="{{work_form.id_for_label}}">End</label>

            <div class="text-gray-600">
              <span>Present</span>
              <input name="present" onclick="toggleEndWork()" type="checkbox">
            </div>
          </div>
          
          <div class="flex gap-2 end-work-data">
            {{work_form.end_month}}
            {{work_form.end_year}}
          </div>

        </div>

        <div class="flex justify-end mt-2 gap-3">
          <button
            class="bg-[#386641] rounded-sm text-white px-4 py-2 font-bold hover:bg-[#6a994e]">Add</button>
          <button type="button" class="text-[#386641] hover:font-bold transition delay-duration-200"
            onclick="toggleModal('close-work-modal')">Cancel</button>
        </div>

      </form>
    </div>

  </div>

  <!-- education modal -->
  <div class="fixed flex items-center justify-center education-modal top-0 left-0 w-full h-screen z-50 bg-black
    bg-opacity-25 hidden">
  
    <div class="w-full h-full rounded-md bg-white p-5 sm:max-w-[600px] sm:h-max">

      <h2 class="font-bold text-[#386641] text-lg pb-5">Add Education</h2>
      <form id="education-form" class="flex flex-col gap-3" action="{% url 'profileapp:addEducation' %}" method="POST">
        {% csrf_token %}
        <div class="">
          <label class="font-medium" for="{{ education.id_for_label }}">Education Level:</label>
          {{education.education_level}}
        </div>

        <div>
          <label class="font-medium" for="{education.id_for_label}">Institution / School / University:</label>
          {{education.school_name}}
        </div>

        <div>
          <label class="font-medium" for="{education.id_for_label}">Field of Study:</label>
          {{education.course}}
        </div>

        <div class="flex gap-2">
          <div>
            <label class="font-medium" for="{{ education.id_for_label }}">Start year:</label>
            {{education.started_year}}
          </div>
  
  
          <div>
            <label class="font-medium" for="{{ education.id_for_label }}">Ended year:</label>
            {{education.ended_year}}
          </div>
        </div>
        
        <div class="flex justify-end mt-2 gap-3">
          <button type="button" id="update-btn" class="bg-[#386641] rounded-sm text-white px-4 py-2 font-bold hover:bg-[#6a994e] hidden">
            Update
          </button>
          <button
            id="add-btn"
            class="bg-[#386641] rounded-sm text-white px-4 py-2 font-bold hover:bg-[#6a994e]">Add</button>
          <button type="button" class="text-[#386641] hover:font-bold transition delay-duration-200"
            onclick="toggleModal('close-education-modal')">Cancel</button>
        </div>

      </form>
    </div>
  </div>

  
  <!-- update password -->
  <div class="fixed flex items-center justify-center top-0 left-0 w-full h-full z-50 bg-black bg-opacity-25 update-pass-modal hidden">
      <div class="w-full h-full rounded-md bg-white p-5 sm:max-w-[600px] sm:h-max">
        <form method="POST">
          {% csrf_token %}
          <h2 class="font-bold text-[#386641] text-lg pb-5">Change Password</h2>
          <p class="text-sm italic text-red-400 hidden unmatch-current-password-msg">Incorrect current password</p>
          <label for="{{password_form.current_password.id_for_label}}">Current Password:</label>
          {{password_form.current_password}}
    
          <div class="flex justify-between mt-2 items-center">
            <label for="{{password_form.password.id_for_label}}">New Password:</label>
            <span class="italic text-green-400 strong-msg-pass hidden">Strong Password</span>
            <span class="italic text-red-400 text-sm weak-msg-pass hidden">Weak Password</span>
          </div>
          {{password_form.password}}
          <span class="block text-sm italic text-gray-500">Note: Password must contain: 8 characters, lowercase&uppercase letter, atleast one number, and special charst</span>
    
          <label>Confirm Password:</label>
          <input type="password" name="confirm_pass" autocomplete="confirm-password" class="block rounded-md border border-gray-300 py-3 p-2 outline-none text-sm w-full resize-none"/>
          <p class="text-sm italic text-red-400 hidden unmatch-new-password-msg">New password not match!</p>
          <div class="flex gap-3 justify-end mt-2">
            <button type="button"class="bg-[#386641] rounded-sm text-white px-4 py-2 font-bold hover:bg-[#6a994e]" onclick="updatePassword('{{user.id}}')">Change password</button>
            <button class="hover:text-gray-500 text-gray-400" type="button" onclick="togglePassModal()">Cancel</button>
          </div>
        </form>
      </div>

    
  </div>

  <!-- add skill -->
  <div class="fixed flex items-center justify-center top-0 left-0 w-full h-full z-50 bg-black
    bg-opacity-25 hidden skill-modal">

    <div class="w-full h-full rounded-md bg-white p-5 sm:max-w-[600px] sm:h-max">
      <form id="skill-form" action="{% url 'profileapp:addSkill' %}" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <h2 class="font-bold text-[#386641] text-lg pb-5">Add Skill</h2>
        <p class="text-red-400 text-sm italic text-end msg-skill-error hidden">Skill is already included</p>
        {{skill_form.skills}}

        <div class="flex justify-end mt-5 gap-3">
          <button type="button" id="submit-skill" class="bg-[#386641] rounded-sm text-white px-4 py-2 font-bold hover:bg-[#6a994e]">Add skill</button>
          <button class="hover:text-gray-500 text-gray-400" type="button" onclick="toggleModal('close-skill-modal')">Cancel</button>
        </div>
        
      </form>
    </div>
    
  </div>
  
  {% endif %}
  {% endif %}


</body>

</html>
