{% extends "management/base_management.html" %}
{% load static %}
{% block title %}
    Manage Users
{% endblock title %}
{% block section %}
    <h1 class="py-24 text-4xl font-bold text-secondary pl-8">Manage Users</h1>
    {% include "management/messages.html" %}
    {% comment %} Use datatable  {% endcomment %}
    <div class="container mx-auto">
        <div class="flex justify-end">
            <div class="relative">
                <i class="fa-solid fa-magnifying-glass absolute left-4 top-4"></i>
                <input type="search"
                       placeholder="Type here"
                       class="daisy-input w-full max-w-xs pl-12" />
            </div>
        </div>
        <table class="daisy-tabl px-12 w-full">
            <thead class="bg-[#DFFFCB] ">
                <tr>
                    <th class="font-bold text-center py-2">Name</th>
                    <th class="font-bold text-center py-2">Contact</th>
                    <th class="font-bold text-center py-2">Status</th>
                    <th class="font-bold text-center py-2">Action</th>
                </tr>
            </thead>
            <tbody class="divide-y bg-white ">
                {% for user in users %}
                    <tr>
                        <td>
                                <div class="flex flex-row gap-2">
                                    <div class="daisy-avatar ">
                                        <div class="w-10 h-10 rounded-full bg-slate-600 ">
                                            {% if user.profile_img %}
                                                <img width="40px"
                                                     height="40px"
                                                     src="{{ user.profile_img.url }}"
                                                     alt="profile image of the user">
                                            {% endif %}
                                        </div>
                                    </div>
                                    <div>
                                        <p>{{ user.first_name|title }}  {{ user.last_name|title }}</p>
                                        <p>{{ user.email }}</p>
                                    </div>
                                </div>
                            
                        </td>
                        <td>{{ user.contact_number|default:"No Contact" }}</td>
                        <td>
                            {% if user.is_active %}
                                <div class="daisy-badge daisy-badge-success gap-2">
                                    <div class="daisy-badge daisy-badge-secondary daisy-badge-sm"></div>
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"></path>
                                    Active
                                </div>
                            {% else %}
                                <div class="daisy-badge daisy-badge-error gap-2">
                                    <div class="daisy-badge daisy-badge-error daisy-badge-sm"></div>
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"></path>
                                    Inactive
                                </div>
                            {% endif %}
                        </td>
                        <td>
                            <div class="flex flex-wrap gap-4">
                                <a href="{% url 'managementapp:user_detail' user.id %}" class="hover:bg-primary">

                                    <i class="fa-regular fa-pen-to-square"></i>
                                </a>
                                <a href=""><i class="fa-solid fa-trash-can"></i></a>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <script src="{% static 'management/manage-users/manage.js' %}"></script>
{% endblock section %}
