{% extends "management/base_management.html" %}
{% load static %}
{% block title %}
    Manage Users
{% endblock title %}
{% block anotherMetaData %}
    <link href="https://cdn.datatables.net/v/dt/jszip-3.10.1/dt-1.13.8/b-2.4.2/b-html5-2.4.2/r-2.5.0/sp-2.2.0/datatables.min.css"
          rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.2.7/pdfmake.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.2.7/vfs_fonts.js"></script>
    <script src="https://cdn.datatables.net/v/dt/jszip-3.10.1/dt-1.13.8/b-2.4.2/b-html5-2.4.2/r-2.5.0/sp-2.2.0/datatables.min.js"></script>
{% endblock anotherMetaData %}
{% block section %}
    <h1 class="py-24 text-4xl font-bold text-secondary pl-8">Manage Users</h1>
    {% include "management/messages.html" %}
    {% comment %} Use datatable  {% endcomment %}
    <div class="container mx-auto px-8">
        <table class="daisy-tabl px-12 w-full" id="user-table">
            <thead class="bg-[#DFFFCB] ">
                <tr>
                    <th class="font-bold text-center py-2">Name</th>
                    <th class="font-bold text-center py-2">Contact</th>
                    <th class="font-bold text-center py-2">Status</th>
                    <th class="font-bold text-center py-2">Action</th>
                </tr>
            </thead>
            <tbody class="divide-y bg-white ">
                {% for user in users %}
                    <tr>
                        <td>
                            <div class="flex flex-row gap-2">
                                <div class="daisy-avatar ">
                                    <div class="w-10 h-10 rounded-full bg-slate-600 ">
                                        {% if user.profile_img %}
                                            <img width="40px"
                                                 height="40px"
                                                 src="{{ user.profile_img.url }}"
                                                 alt="profile image of the user">
                                        {% endif %}
                                    </div>
                                </div>
                                <div>
                                    <p>{{ user.first_name|title }}  {{ user.last_name|title }}</p>
                                    <p>{{ user.email }}</p>
                                </div>
                            </div>
                        </td>
                        <td>{{ user.contact_number|default:"No Contact" }}</td>
                        <td>
                            {% if user.is_active %}
                                <div class="daisy-badge daisy-badge-success gap-2">
                                    <div class="daisy-badge daisy-badge-secondary daisy-badge-sm"></div>
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"></path>
                                    Active
                                </div>
                            {% else %}
                                <div class="daisy-badge daisy-badge-error gap-2">
                                    <div class="daisy-badge daisy-badge-error daisy-badge-sm"></div>
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"></path>
                                    Inactive
                                </div>
                            {% endif %}
                        </td>
                        <td>
                            <div class="flex flex-wrap gap-4">
                                <a href="{% url 'managementapp:user_detail' user.id %}"
                                   class="hover:bg-primary">
                                    <i class="fa-regular fa-pen-to-square"></i>
                                </a>
                                <a href=""><i class="fa-solid fa-trash-can"></i></a>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <script src="{% static 'management/manage-users/manage.js' %}"></script>
{% endblock section %}
