{% extends "management/base_management.html" %}
{% load static %}
{% block title %}
    Manage Users
{% endblock title %}
{% block anotherMetaData %}
    <!-- User Defined CSS-->
    <link rel="stylesheet" href="{% static 'management/styles.css' %}">
{% endblock anotherMetaData %}
{% block section %}
    <div class="bg-[#F1F8F9] min-h-screen w-full flex flex-col">
        <div class="grow flex flex-row">
            <div class="grow overflow-auto p-10">
                <h1 class=" text-2xl font-bold text-secondary ">Manage Users</h1>
                <hr class="mt-5 " />
                <section class="mt-10">
                    <!-- Table Buttons-->
                    <div class="flex flex-row gap-3 justify-between mb-3">
                        <div class="relative w-80">
                            <i class="fa-solid fa-search absolute left-4 top-3 text-gray-500"></i>
                            <input type="search"
                                   placeholder="Search"
                                   class="w-full rounded pl-12 border-none focus:border-none focus:outline-none focus:ring-primary focus:border-primary resize-none"
                                   id="usersSearchField">
                        </div>
                        <button id="pdfBtn"
                                class="daisy-btn daisy-btn-accent py-2 px-5  text-white font-medium rounded">
                            Generate Report
                        </button>
                    </div>
                    <!-- Table Buttons End-->
                    <table class="daisy-table w-full" id="user-table" width="100%">
                        <thead class="bg-[#DFFFCB] ">
                            <tr>
                                <th class="font-bold text-center py-2">Avatar</th>
                                <th class="font-bold text-center py-2">Name</th>
                                <th class="font-bold text-center py-2">Email</th>
                                <th class="font-bold text-center py-2">Contact</th>
                                <th class="font-bold text-center py-2">Status</th>
                                <th class="font-bold text-center py-2">Action</th>
                            </tr>
                        </thead>
                        <tbody class="divide-y bg-white ">
                            {% for user in users %}
                                <tr>
                                    <td>
                                        <div class="daisy-avatar ">
                                            <div class="w-10 h-10 rounded-full bg-slate-600 ">
                                                {% if user.profile_img %}
                                                    <img width="40px"
                                                         height="40px"
                                                         src="{{ user.profile_img.url }}"
                                                         alt="profile image of the user">
                                                {% endif %}
                                            </div>
                                        </div>
                                    </td>
                                    <td>{{ user.first_name|title }}  {{ user.last_name|title }}</td>
                                    <td>{{ user.email }}</td>
                                    <td>{{ user.contact_number|default:"No Contact" }}</td>
                                    <td>
                                        {% if not user.is_deactivated %}
                                            <div class="daisy-badge daisy-badge-success gap-2">
                                                <div class="daisy-badge daisy-badge-secondary daisy-badge-sm"></div>
                                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"></path>
                                                Active
                                            </div>
                                        {% else %}
                                            <div class="daisy-badge daisy-badge-error gap-2">
                                                <div class="daisy-badge daisy-badge-error daisy-badge-sm"></div>
                                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"></path>
                                                Inactive
                                            </div>
                                        {% endif %}
                                    </td>
                                    <td>
                                        <div class="flex flex-wrap gap-4">
                                            <a href="{% url 'managementapp:user_detail' user.id %}"
                                               class="hover:bg-primary">
                                                <i class="fa-regular fa-pen-to-square"></i>
                                            </a>
                                            <div class="placeholderElem" ><i class="fa-solid fa-trash-can"></i></div>
                                        </div>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </section>
            </div>
        </div>
    </div>
    <script src="{% static 'management/manage-users/manage.js' %}"></script>
{% endblock section %}
