{% extends "management/base_management.html" %}
{% load static %}
{% block title %}
    User
{% endblock title %}
{% block section %}
    <section class="p-4">
        <div class="flex gap-4 items-center">
            <a class="daisy-btn w-fit daisy-btn-sm text-gray-400 hover:text-gray-800 daisy-glass"
               href="{% url 'managementapp:manage_users' %}">
                <i class="fa-solid fa-arrow-left"></i>
                Back
            </a>
            <h1 class="text-xl font-bold text-secondary ">{{ user_record.first_name|title }} {{ user_record.last_name|title }}</h1>
        </div>
        <!-- Divides into 2 section-->
        <div class=" container mx-auto flex flex-wrap mt-8">
            <ul class="daisy-menu bg-base-transparent min-h-full w-56 p-0 [&_li>*]:rounded-none gap-2">
                <li>
                    <a href="{% url 'managementapp:user_detail' user_record.id %}">Profile</a>
                </li>
                <li>
                    <a href="{% url 'managementapp:user_qualification' user_record.id %}">Qualifications</a>
                </li>
                <li>
                    <a href="{% url 'managementapp:user_history' user_record.id %}">Application History</a>
                </li>
                <li>
                    <a href="{% url 'managementapp:user_actions' user_record.id %}">Account Actions</a>
                </li>
                <li>
                    <a href="{% url 'managementapp:user_logs' user_record.id %}">Activity Log</a>
                </li>
            </ul>
            <section class="flex-1 px-6">
                {% block user_section %}
                {% endblock user_section %}
            </section>
        </div>
    </section>
{% endblock section %}
